<div>
  <h2>Propierty Binding</h2>
  <img src="{{ imageURL }}" /><br>
  <img [src]="imageURL" /> <br>
 
  <button disabled>Enviar</button><br>
  <button [disabled]="botonStatus">Añadir</button>
</div>
<hr>
<div>
  <h2>Class Binding</h2>
  <button [class.active]="isActive">Agregar</button>
</div>
<hr>
<div>
  <h2>Style Binding</h2>
  <button [style.backgroundColor]="isActive ? 'green' : 'white'">
    Boton
  </button>
</div>
<hr>
<div>
  <h2>Event Binding</h2>
  <button (click)="guardar($event)">
    Guardar
  </button>

  <button (click)="contador=contador+1">
    Sumar
  </button>

  <p>{{ contador }}</p>
</div>
<hr>
<div>
  <h2>*ngFor</h2>
  <ul>
    <li *ngFor="let numero of numeros">{{ numero }}</li>
  </ul>
  <button (click)="colocar()">Colocar</button>
</div>
<hr>
<div>
  <h2>Event Filtering</h2>
  Con argumentos 
  <input type="text" (keyup)="onKeyUp($event)">
  <br>
  Sin argumentos 
  <input type="text" (keyup.f)="onKeyUpSinEvent()">
</div>
<hr>
<div>
  <h2>Template Variable</h2>
  Enviando el evento
  <input type="text" 
    (keyup.enter)="requestInput($event)">
  <br>
  Enviando solo el valor
  <input type="text" 
    (keyup.enter)="requestValue(nombre.value)" 
    #nombre>
</div>
<hr>
<div>
  <h2>Two Way binding</h2>
  Mostrando como contenido de etqueta
  <p>{{ persona.nombre }}</p>
  Mostrando como valor de atributo <br>
  <input type="text" value="{{ persona.nombre }}">
  <br>
  Mostrando como propiedad value de angular <br>
  <input type="text" [value]="persona.nombre">
  <br>
  Actualización de variables
  <input type="text" 
    [(ngModel)]="persona.nombre">
</div>
<hr>
<div>
  <h2>*ngIf</h2>
  <button (click)="nivel = nivel + 1">
    Subir de nivel
  </button>
  <p>{{ nivel }}</p>
  <strong *ngIf="nivel >= 10">
    Nivel desbloqueado
  </strong>

  <h3>Container</h3>
  <ng-container *ngIf="isLogged">
      <button (click)="isLogged = !isLogged">
        Iniciar sesion
      </button>
      <button>Registrarse</button>
  </ng-container>
  <ng-container *ngIf="!isLogged">
      <button (click)="isLogged = !isLogged">
        Cerrar sesion
      </button>
  </ng-container>

  <h3>Templates</h3>
  <ng-container *ngIf="isClosed; else menu">
    <button (click)="isClosed = false">
      Abrir menú
    </button>
  </ng-container>
  <ng-template #menu>
    <button>Ir al panel</button>
    <button>Ir al perfil</button>
    <button>Ir al lista</button>
    <button (click)="isClosed = true">
      Cerrar menú
    </button>
  </ng-template>
</div>
<hr>
<div> 
  <h3>Selección</h3>
  <h2>Seleccionaste: {{ seleccionFruta }} con NgModel</h2>
  <select [(ngModel)]="seleccionFruta" name="fruta">
    <option *ngFor="let fruta of frutas" [value]="fruta.nombre">{{fruta.nombre}}</option>
  </select>
  <h2>Seleccionaste: {{ seleccionVerdura }} sin NgModel pero capturaste el nombre con la propiedad</h2>
  <select  name="verdura" (change)="seleccionVerdura = escogerVerdura.options[$event.target.options.selectedIndex].text" #escogerVerdura>
    <option *ngFor="let verdura of verduras" [value]="verdura.id">{{verdura.nombre}}</option>
  </select>
  <h2>Seleccionaste: {{ seleccionColor }} sin NgModel llamando a una funcion</h2>
  <select  name="verdura2" (change)="change(escogerColor)" #escogerColor>
    <option *ngFor="let color of colores" [value]="color.id">{{color.nombre}}</option>
  </select>
</div>
<hr>
<div>
  <h1>@input</h1>
  <app-blanca *ngFor="let usuario of usuarios"></app-blanca>
</div>
