<div>
  <!-- Propierty Binding -->
  <img src="{{ imageURL }}" /><br>
  <img [src]="imageURL" /> <br>
 
  <button disabled>Enviar</button><br>
  <button [disabled]="botonStatus">Añadir</button>
</div>
<hr>
<div>
  <!-- Class Binding -->
  <button [class.active]="isActive">Agregar</button>
</div>
<hr>
<div>
  <!-- Style Binding -->
  <button [style.backgroundColor]="isActive ? 'green' : 'white'">
    Boton
  </button>
</div>
<hr>
<div>
  <!-- Event Binding -->
  <button (click)="guardar($event)">
    Guardar
  </button>

  <button (click)="contador=contador+1">
    Sumar
  </button>

  <p>{{ contador }}</p>
</div>
<hr>
<div>
  <!-- *ngFor -->
  <ul>
    <li *ngFor="let numero of numeros">{{ numero }}</li>
  </ul>
  <button (click)="colocar()">Colocar</button>
</div>
<hr>
<!-- Event Filtering -->
Con argumentos 
<input type="text" (keyup)="onKeyUp($event)">

Sin argumentos 
<input type="text" (keyup.f)="onKeyUpSinEvent()">
